.container .service-heading {
  margin-top: 10%;
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  & .service-box {
    height: 273px;
    width: 233px;
    margin-left: 20px;
    & .service-top {
      height: 80%;
      width: 100%;
      object-fit: cover;
      & img {
        border-radius: 0.5rem;
      }
    }
    & .service-bottom {
      height: 20%;
      width: 100%;
      padding: 0;
      text-align: center;
      margin-top: 20px;
      & h2 {
        padding-top: 10px;
        font-size: 15px;
      }
    }
  }
}
